* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.drawer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: none;
}

.section {
    padding: 50px 0px;
}

.mar-b-10 {
    margin-bottom: 10px;
}
.mar-b-20 {
    margin-bottom: 20px;
}

.btn {
    background-color: #D72385;
    padding: 8px 15px;
    color: #fff;
    border-radius: 7px;
}

.menu-toggle {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-size: 28px;
}

.btn.link {
    text-decoration: none;
}

.al-position {
    text-align: start;
    margin-bottom: 40px;
}

@media screen and (min-width: 567px) {
    .al-position {
        text-align: center;
    }
}

p {
    margin-bottom: 15px;
}

/* Navigation */
.navigation {
    background-color: #0F2243;
    color: #fff;
    padding: 8px 0;
}

.navigation .container {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    display: flex;
   text-decoration: none; 
   color: #fff;
   align-items: center;
}

.navigation img {
    width: 70px;
    margin-right: 10px;
}

.navigation .menu {
    display: none;
    align-items: center;
}
.navigation .menu-item {
    display: inline;
    padding: 0 8px;
    padding-bottom: 5px;
}

.navigation .menu-item.active {
    font-weight: bold;
    border-bottom: 2px solid #fff;
}

.section.header .container{
    text-align: center;
}

.section.learn {
    background-color: #EEEEEE;
}

.section.learn .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section.learn img {
    width: 150px;
}

@media screen and (min-width: 768px) {
    .section.learn .container {
        flex-direction: row;
    }

    .section.learn img {
        width: 400px;
    }

    .menu-toggle {
        display: none;
    }

    .navigation .menu {
        display: flex;
    }
}

.section.learn .bloc-item {
    width: 50%;
}

/* cours */
.cours-list {
    display: flex;
    justify-content: space-evenly;
}

.cours-list .cours-item {
    width: 33%;
}

.cours-list .cours-item img {
    width: 100%;
}

footer {
    background-color: #0F2243;
    color: #fff;
    padding: 50px 0;
}

